<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.store">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity
            android:name=".presentation.TesteRetrofitActivity"
            android:exported="false" />
    </application>

</manifest>